@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif;
  --font-domine: "Domine", sans-serif; 
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .dark h2 {
    color: #AFFC41;
  }
  h2 {
    color: #0600C2;
  }
  .dark a {
    color: #FDFDFD;
  }
  a {
    color: #0F001A;
  }
  .dark button {
    color:#AFFC41;
  }
  button {
    color:#0600C2;
  }
  svg {
    fill: #0600C2;
  }
  .dark svg {
    fill: #AFFC41;
  }
  .tab-content div img {
    cursor: pointer;
    transition: 0.3s;
  }
  .tab-content div img:hover {opacity: 0.7;}
  
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  overflow: auto;
  }

  .modal-content {
  margin: auto;
  display: block;
 }

  .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  }

  .close:hover,
  .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  }

}
