@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif;
  --font-domine: "Domine", sans-serif; 
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  [class='dark'] h2 {
    color: #AFFC41;
  }
  h2 {
    color: #0600C2;
  }
  [class='dark'] a {
    color: #FDFDFD;
  }
  a {
    color: #0F001A;
  }
  [class='dark'] button {
    color:#AFFC41;
  }
  button {
    color:#0600C2;
  }
  svg {
    fill: #0600C2;
  }
  [class='dark'] svg {
    fill: #AFFC41;
  }
}
